<div class="home-container">
  <div class="search-bar">
    <form class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        <div class="input-group">
          <input #productSearch
            type="text"
            style="background-image: url('searchicon.png')"
            class="form-control"
            id="inlineFormInputGroupUsername"
            placeholder="Search..."
          />
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" (click)="searchProduct(productSearch.value)">Search</button>
      </div>
    </form>
  </div>

  <div class="table-component">
    <table class="table table-dark table-hover">
      <thead>
        <tr class="table-heading">
          <th>ID</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Purchased Qty</th>
          <th>Sold Qty</th>
          <th>Avail. Qty</th>
          <th>Supplier</th>
          <th>Cost Price</th>
          <th>Selling Price</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngIf="products.length == 0" colspan="10">No products in the DataBase to Display. Please add new products.</td>
        </tr>
        <tr *ngFor="let product of products" [ngClass] ="{'lessOnQty' :product.availableQty<10}">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.purchasedQty }}</td>
          <td>{{ product.soldQty }}</td>
          <td>{{ product.availableQty }}</td>
          <td>{{ product.supplier }}</td>
          <td>Rs.{{ product.costPrice }}</td>
          <td>Rs.{{ product.sellingPrice }}</td>
          <td>
            <a [routerLink]="['/edit-product', product.id]">
              <i
                class="fas fa-edit"
                style="font-size: 24px; margin-right: 20px; color: white"
              ></i
            ></a>
            <i
              (click)="deleteOneProduct(product.id)"
              class="fas fa-trash"
              style="font-size: 24px; cursor: pointer;"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="add-button">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button" routerLink="/add-product">
        + ADD A NEW PRODUCT
      </button>
    </div>
  </div>
</div>
